@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.black-gradient {
  background: hsla(0, 0%, 10%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 10%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 10%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 10%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#252525", endColorstr="#000000", GradientType=1 );
}

.yellow-gradient {
  background: hsla(39, 100%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(39, 100%, 50%, 1) 0%,
    hsla(49, 100%, 67%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(39, 100%, 50%, 1) 0%,
    hsla(49, 100%, 67%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(39, 100%, 50%, 1) 0%,
    hsla(49, 100%, 67%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA600", endColorstr="#FFDF58", GradientType=1 );
}

.text-stroke {
  /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* course background */
.course-animated-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='400' preserveAspectRatio='none' viewBox='0 0 2000 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1134%26quot%3b)' fill='none'%3e%3crect width='2000' height='400' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1027.5113643665604 240.00045871907832L932.5968890804513 276.4347121856734 1063.9456178331554 334.91493400518743z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M523.9 218.03 a101.05 101.05 0 1 0 202.1 0 a101.05 101.05 0 1 0 -202.1 0z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M559.52%2c97.811C576.123%2c96.929%2c588.201%2c83.078%2c595.285%2c68.037C601.314%2c55.237%2c599.624%2c40.563%2c592.136%2c28.558C585.105%2c17.285%2c572.805%2c10.568%2c559.52%2c10.692C546.452%2c10.814%2c535.43%2c18.445%2c527.942%2c29.156C518.821%2c42.204%2c509.852%2c57.76%2c516.505%2c72.223C523.977%2c88.468%2c541.664%2c98.76%2c559.52%2c97.811' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1900.855185127294 221.14426523816417L1855.4870705475723 181.7063649142852 1861.417284803415 266.51237981788574z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1811.0966661949803 129.79128000723293L1824.3710348200439 61.500573587691434 1715.2977908782 75.73437385986671z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M919.297463027137 191.15528405848056L907.2306511138922 122.72099303414878 838.7963600895605 134.7878049473936 850.8631720028053 203.2220959717254z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M206.616%2c80.244C230.635%2c80.359%2c253.782%2c69.494%2c266.069%2c48.855C278.632%2c27.752%2c280.382%2c0.183%2c266.226%2c-19.886C253.54%2c-37.871%2c228.62%2c-35.91%2c206.616%2c-35.43C185.849%2c-34.977%2c163.241%2c-34.409%2c151.347%2c-17.38C137.896%2c1.878%2c136.568%2c27.85%2c148.141%2c48.291C159.87%2c69.008%2c182.809%2c80.13%2c206.616%2c80.244' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1625.7 19.27 a73.14 73.14 0 1 0 146.28 0 a73.14 73.14 0 1 0 -146.28 0z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1382.06 105.3 a119.03 119.03 0 1 0 238.06 0 a119.03 119.03 0 1 0 -238.06 0z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1755.77 363.7 a111.11 111.11 0 1 0 222.22 0 a111.11 111.11 0 1 0 -222.22 0z' fill='rgba(255%2c 223%2c 88%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1134'%3e%3crect width='2000' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
